<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    {% load static %}
    <link rel='stylesheet' href = '{% static "log_reg.css"%}'>
</head>
<body>
    <h1>Log in to your carbon tracking account</h1>
    <div id='form_parent'>
        <div id='form_child'>
            {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action='/ecoed/login' method='POST'>
                {% csrf_token %}
                <label for='email'>Email Address</label>
                <input type='text' id='email' name='email'>
                <label for='password'>Password</label>
                <input type='password' id='password' name='password'>
                <input type='submit' value='Log In'>
            </form>
        </div>
    </div>
    <div id='link_list'>
        <a href='/ecoed'>Home</a>
        <a href='/ecoed/registration'>I don't have an account</a>
    </div>
</body>
</html>